<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990597540324-8k9gor01u6d6m917ae4l6l61opa57pl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990597540324-8k9gor01u6d6m917ae4l6l61opa57pl8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>990597540324-9anm9ppa1beqk02ntcnj60tesltijuf4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8kNMpNDn2kWC621YZtpF-k9L7EjSmSz0</string>
	<key>GCM_SENDER_ID</key>
	<string>990597540324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.siprov.universidade</string>
	<key>PROJECT_ID</key>
	<string>siprov-beneficios</string>
	<key>STORAGE_BUCKET</key>
	<string>siprov-beneficios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990597540324:ios:2e2f4c8938d2e975f1bff1</string>
	<key>DATABASE_URL</key>
	<string>https://siprov-beneficios.firebaseio.com</string>
</dict>
</plist>